* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.container-header {
    height: 40px;
    width: 100%;
    justify-content: space-between;
    /* debug */
    background-color: greenyellow;
}

.left-header {
    height: 40px;
    width: 34%;
    /* debug */
    background-color: lightcoral;
    border: 2px dashed black;
}

.right-header {
    height: 40px;
    width: 40%;
    /* debug */
    background-color: lightcoral;
    border: 2px dashed black;
}
/* /HEADER */

/* MAIN */
/* under header */
.first-container {
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: end;
    /* debug */
    background-color: lightcoral;
    border: 2px dashed black;
}

.first-box {
    height: 400px;
    width: 70%;
    /* debug */
    background-color: lightblue;
}
/* /under-header */

/* big section main */
.container-main {
    min-height: auto;
    width: 100%;
    justify-content: center;
    padding-top: 80px;
    /* debug */
    background-color: lightgreen;
}

.container-main2{
    min-height: 800px;
    width: 50%;
    /* debug */
    background-color: white;
}

.price-list {
    height: 80px;
    width: 100%;
    /* debug */
    background-color: lightcoral;
    border: 2px dashed black;
}

/* SECTION COLUMNS */
.container-column {
    height: 600px;
    width: 100%;
    justify-content: space-between;
    /* debug */
    background-color: aqua;
}

.col-30 {
    width: calc(90% / 3);
    margin-top: 10px;
    margin-bottom: 10px;
    /* debug */
    border: 1px dashed black;
}
/* /SECTION COLUMNS */

/* TEAM */
.team-box {
    height: 300px;
    width: 100%;
    /* debug */
    background-color: lightcoral;
}

.team-title{
    height: 60px;
    width: 100%;
    /* debug */
    border: 2px dashed black;
}

.team-body {
    height: 240px;
    width: 100%;
    /* debug */
    border: 2px dashed black;
}

/* /TEAM */

/* PARTNER */
.partner-box {
    margin-top: 60px;
    height: 500px;
    width: 100%;
    /* debug */
    background-color: lightblue;
}

.partner-section-left {
    height: 500px;
    width: 70%;
    /* debug */
    background-color: lightcoral;
    border: 2px dashed black;
}

.partner-section-right {
    height: 500px;
    width: 30%;
    /* debug */
    background-color: lightskyblue;
    border: 2px dashed black;
}
/* /PARTNER */

/* BUSINESS */
.title-business {
    margin-top: 60px;
    margin-bottom: 30px;
}

.business-box {
    height: 900px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    /* debug */
    background-color: aqua;
}

.col-30-business {
    width: calc(100% / 3);
    padding: 30px;
    /* debug */
    border: 1px dashed black;
}

.discovery-clients {
    height: 250px;
    width: 60%;
    margin-top: 50px;
    /* debug */
    background-color: lightcoral;
}
/* /BUSINESS */
/* /big section main */

/* THIRD SECTION */

/* designit */
.container-designit {
    justify-content: center;
    padding-top: 20px;
    /* debug */
    background-color: green;
}
.designit {
    height: 500px;
    width: 95%;
    /* debug */
    background-color: lightskyblue;
}

.box-30 {
    width: calc(100% / 3);
    /* debug */
    border: 1px dashed black;
}
/* /designit */
/* company */

.company-box {
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* debug */
    background-color: lightblue;
}

.company-section-left {
    height: 200px;
    width: 50%;
    /* debug */
    background-color: lightcoral;
    border: 2px dashed black;
}

.company-section-right {
    height: 200px;
    width: 20%;
    /* debug */
    background-color: lightskyblue;
    border: 2px dashed black;
}


/* /company */
/* /THIRD SECTION */
/* /MAIN */
/* Utility */
.flex {
    display: flex;
}