* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

main {
    margin-top: 80px;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}

h1{
    font-size: 4.50rem;
}

h2 {
    font-size: 2rem;
}

ul {
    list-style-type: none;
}

ul li {
    display: flex;
    gap: 5px;
}

ul li span {
    display: flex;
    gap: 5px;
}

li{
    margin-top: 20px;
}

/* HEADER */
.container-header {
    width: 100%;
    justify-content: space-between;
    padding-bottom: 10px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 9999;


    /* debug */
    /* background-color: greenyellow; */
    /* height: 60px; */
}

.container-header a {
    color: black;
}

.left-header {
    
    width: 30%;
    justify-content: space-around;
    align-items: center;
    /* debug */
    /* height: 60px; */
    /* background-color: lightcoral; */
    /* border: 2px dashed black; */
}

.right-header {
    height: 60px;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    /* debug */
    /* background-color: lightcoral; */
    /* border: 2px dashed black; */
}
/* /HEADER */

/* MAIN */

/* FIRST SECTION */
.first-container {
    width: 100%;
    padding-top: 50px;
    justify-content: center;
    align-items: end;
    /* debug */
    /* height: 500px; */
    background-color: #b6d1e7;
}

.box-container {
    width: 60%;
}

.first-box {
    width: 100%;
    /* debug */
    /* height: 400px; */
}

.first-box-left {
    width: 30%;
    /* debug */
    /* height: 400px; */
    /* background-color: lightcoral; */
}

.first-box-left > p{
    padding-top: 40px;
}

.first-box-right {
    width: 80%;
    /* debug */
    /* height: 400px; */
    /* background-color: black; */
}

.first-box-right img {
    width: 40%;
    position: absolute;
}
/* /FIRST SECTION */

/* big section main */
.container-main {
    width: 100%;
    justify-content: center;
    padding-top: 80px;
    /* debug */
    /* min-height: auto; */
    /* background-color: lightgreen; */
}

.container-main2{
    min-height: 800px;
    width: 50%;
    /* debug */
    background-color: white;
}

.price-list {
    height: 100px;
    width: 100%;
    /* debug */
    /* background-color: lightcoral; */
    /* border: 2px dashed black; */
}

.price {
    padding-top: 30px;
    gap: 20px;
}

/* SECTION COLUMNS */
.container-column {
    width: 100%;
    justify-content: space-between;
    /* debug */
    /* height: 600px; */
    /* background-color: aqua; */
}

.col-30 {
    width: calc(90% / 3);
    margin-top: 10px;
    margin-bottom: 10px;
    /* debug */
    border: 1px solid lightgrey;
}

.pdg-20 ul li span a {
    color: blue; 
    text-decoration: underline;
  }
/* /SECTION COLUMNS */

/* TEAM */
.team-box {
    margin-top: 50px;
    width: 100%;
    /* debug */
    /* height: 300px; */
    /* background-color: lightcoral; */
}

.team-title{
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border: 1px solid lightgrey;
}

.team-body {
    width: 100%;
    border: 1px solid lightgrey;
    /* debug */
    /* height: 240px; */
}

.team-body-left {
    width: 60%;
    /* debug */
    /* height: 240px; */
    /* background-color: lightcoral; */
}

.team-body-right {
    width: 40%;
    /* debug */
    /* height: 240px; */
    /* background-color: lightblue; */
}

/* /TEAM */

/* PARTNER */
.partner-box {
    margin-top: 60px;
    width: 100%;
    /* debug */
     /* height: 500px; */
    /* background-color: red; */
}

.partner-section-left {
    width: 60%;
    /* debug */
    /* height: 500px; */
    /* background-color: lightcoral; */
    /* border: 2px dashed black; */
}

.partner-section-right {
    width: 40%;
    /* debug */
    /* height: 500px; */
    /* background-color: lightskyblue; */
    /* border: 2px dashed black; */
}
/* /PARTNER */

/* BUSINESS */
.title-business {
    margin-top: 60px;
    margin-bottom: 30px;
}

.business-box {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    /* debug */
    /* height: 900px; */
    /* background-color: aqua; */
}

.col-30-business {
    width: calc(100% / 3);
    padding: 20px;
    /* debug */
    /* border: 1px dashed black; */
}

.discovery-clients {
    
    width: 60%;
    margin-top: 50px;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 100px;
    /* debug */
    /* height: 250px; */
    /* background-color: lightcoral; */
}

.discovery-clients a {
    color: blue; 
    text-decoration: underline;
  }
/* /BUSINESS */
/* /big section main */

/* THIRD SECTION */

/* designit */
.container-designit {
    /* debug */
    background-color: #F5F5F5;
}
.designit {
    width: 100%;
    /* debug */
    /* height: 500px; */
    /* background-color: lightskyblue; */
}

.box-30-left,
.box-30-right {
    width: calc(100% / 3);
    flex-wrap: wrap;
    /* debug */
    /* border: 1px dashed black; */
}

.box-section {
    width: 50%;
    justify-content: center;
    padding: 10px 0;
    /* debug */
    background-color: blue;
    /* border: 5px solid black; */
}

.box-inside {
    width: 80%;
    justify-content: center;
    /* debug */
    background-color: red;
}

.box-inside img {
    width: 50%;
    filter: invert(100%);
}

.box-30-middle {
    max-height: 500px;
    width: calc(100% / 3);
    flex-direction: column;
    padding: 40px;
    overflow-y: auto;
    /* debug */
    /* border: 1px dashed black; */
}

.box-30-middle img {
    width: 50%;
}

/* background-color of the box */
.bg-green {

}

.bg-lightgreen{

}

.bg-azure {

}

.bg-dark-blue {

}

.bg-yellow {

}

.bg-lightblue {

}
/* /designit */

/* company */
.company-box {
    padding: 100px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* debug */
    background-color: #B4D0E7;
}

.company-section-left {
    width: 20%;
    /* debug */
    /* background-color: lightcoral; */
    /* border: 2px dashed black; */
}

.company-section-right {
    width: 30%;
    justify-content: right;
    /* debug */
    /* height: 200px; */
    /* background-color: lightskyblue; */
    /* border: 2px dashed black; */
}
/* /company */

/* ANSWER */
.answer-box {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* debug */
    /* height: 500px; */
    /* background-color: blueviolet; */
}

.answer-section {
    width: 52%;
    /* debug */
    /* height: 400px; */
    /* background-color: crimson; */
    /* border: 2px dashed white; */
}

.answer-section ul li {
    font-weight: bold;
}
/* /answer */
/* /THIRD SECTION */
/* /MAIN */

/* FOOTER */
.container-footer {
    width: 100%;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* debug */
    /* height: 450px; */
}

.container-list {
    width: 80%;
    /* debug */
    /* height: 420px; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: white; */
}

.col-footer {
    width: calc(100% / 5);
    /* debug */
    /* height: 400px; */
    /* background-color: green; */
    /* margin: 5px; */
    /* border: 2px solid red; */
}

.col-footer ul.white a {
    color: white;
}
/* /FOOTER */


/* Utility */

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-white{
    background-color: white;

    padding: 10px;
    margin-top: 20px;

    padding: 10px;
    border: 1px solid black;
    font-size: 15px;
}

.btn-blue{
    background-color: #0061ff;

    padding: 10px;
    margin-left: 10px;

    color: white;
    padding: 10px;
    border: none;
    font-size: 15px;
}

.column-title {
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    gap: 10px;
}

.pdg-20 {
    padding: 20px;
}

.pdg-20-70 {
   padding: 20px 70px; 
}

.short {
    margin: 10px;
    width: 30%;
}

.blue {
    color: #0061ff;
    font-weight: 1000;
}

.white {
    color: white;
}

.grey {
    color: grey;
}

.dark-violet {
    color: #631135
}

.bor-black{
    border-color: black;
}
.black {
    color: black;
}

.mgt-20 {
    margin-top: 20px;
}

.mgt-30 {
    margin-top: 30px;
}

.mgt-40 {
    margin-top: 60px;
}

.mgt-100 {
    margin-top: 100px;
}

.mgl-300 {
    margin-left: 300px;
}

.big-size {
    font-size: 2rem;
}